<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MANE'TENANCE</title>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="/schedule.js"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">  <!--load bootstrap css -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"><!--icon library-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!--icon library-->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"><!--loads Google font for H1-->
      <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
      <link rel="stylesheet" href="/css/schedule.css">
  </head>
<body>

  <nav class="navbar navbar-inverse" id="schedule-nav">
    <div class="container-fluid" id="schedule-container-fluid">
      <div class="navbar-header" id="overide-nav-header">
        <h1>Mane'tenance | Hair Schedule</h1>
      </div>
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav navbar-right" id="schedule-right-nav">
          <li><a href = "/services"> Service Page</a></li>
          <li><a href="/logout"> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="jumbotron" id="overide-jumbotron-schedule">
  <div class="container text-center" id="container-overide-schedule-page">
  <p>Now that you have selected your services, below are the days and times available for you to schedule your appointment! Simply select by clicking on the appropriate time and day for your hair appointment and you will be directed to a confirmation page of your Mane'tenance schedule!  </p>


  </div><!--containertextcenter-->


  <div class="columns" id="schedule-board">
    <section>
    <h2>Dates & Times available</h2>
      <ul class="w3-ul w3-hoverable" >
          <% Object.keys(availability).forEach(function(key,index) { %>
        <% for(var i=0; i<availability[key].length; i++) {%>
          <% if(availability[key][i].available) { %>
            <li><a class= "button" href="/booking/<%=key%>T<%=availability[key][i].time%>-04:00/<%=time%>"><%=key%> - <%=availability[key][i].time %></a></li>
          <% } %>
        <% } %>
    <% }); %>
      </ul>
    </section>
  </div>
</div> <!--jumbotron-->

</body>
</html>
